:root {
    --marron1: #473B39;
    --marron2: #60514F;
    --verde: #93A497;
    --verde2: #95A48A;
    --verde3: #93A496;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn { @apply px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700; }
  .campo{ @apply block w-full bg-white text-yellow-900 placeholder-yellow-900 font-bold border-none py-4 px-8 rounded-xl; }
  .botao{ @apply inline-block w-auto bg-marrom1 hover:bg-marrom2 text-white font-bold border-none py-4 px-8 rounded-xl mb-5;}
}
@media (min-width: 1440px) {
    .container { max-width: 1200px; }
}

.font-lato { font-family: 'Lato', sans-serif; }
.font-roboto { font-family: 'Lato', sans-serif; }
.bg-verde1{ background: var(--verde); }
.bg-verde2{ background: var(--verde2); }
.suptop{ background: #fff; padding: 8px; }
.suptop nav{ margin-right: 10px;}
.suptop nav a{ font-family: 'Lato'; display: inline-block; padding: 5px 0; font-size: 15px; font-weight: 700;
    color: #60514F; background: transparent; margin-right: 15px; text-transform: uppercase; }
.suptop .busca{ border-bottom:1px solid #fff; padding-right:5px; border-bottom: 2px solid #60514F; width: 80%; margin: 0 auto; }
.suptop .busca input{ background: transparent; border:none; color: #60514F; padding: 5px 0; font-size: 14px; font-family: 'Lato'; }
.suptop .busca input:focus-visible { outline: none;}
.suptop .busca ::placeholder, .suptop .busca ::-ms-input-placeholder, .suptop .busca :-ms-input-placeholder,
.suptop .busca ::-moz-placeholder,  .suptop .busca ::-webkit-input-placeholder { color: #60514F; opacity: 1; }
.suptop .busca button{ padding: 0; width: 20px; float: right; padding-top: 4px; color: #60514F; }
.suptop .busca img{ width: 20px; height: auto;}
.suptop .siganos{ float: right; color: #fff; font-size: 13px; padding-top: 5px; font-family: 'Lato'; }
.suptop .siganos span{ float: inline-start; padding-top: 3px; }
.suptop .siganos a{ color: #fff; font-size: 13px; display: inline-block; margin-left: 8px; }
.suptop .siganos a img{ width: auto; height: 22px; }
.suptop .logo{ width: 60px; display: inline-block; }
.suptop .logo img{ width: 60px; height: auto; }

.top{ background: var(--marron2); padding: 10px; }
.top nav{ width: 100%; overflow: hidden; }
.top .logo{ width: 60px; display: none; }
.top .logo img{ width: 60px; height: auto; }
.top nav ul{ width: auto; text-align: center; }
.top nav ul li{ margin:5px 20px; display: inline-block; }
.top nav ul li.menuoculto{ display: none;}
.top nav ul li a{ font-family: 'Lato'; color: #fff; font-size: 16px; font-weight: 700; text-transform: uppercase; display: inline-block;}

.foot{ background: var(--verde2); padding: 30px 0 20px; }
.foot .logo{ width: 100px; height: auto; margin: 0 auto; border: 2px solid #fff; }
.foot nav a{ font-family: 'Lato'; font-size: 1rem; font-weight: 700; color: #fff; margin-bottom: 6px; padding: 0 10px; display: block; }
.foot nav a:hover{background: var(--marron2); }

.foot .ico1, .foot .ico2{ display: block; margin-bottom: 25px; font-family: 'Lato'; font-size: 1rem; font-weight: 700; color: #fff;  }
.foot .ico1{ background: url('images/icon-tel.png') no-repeat; padding-left: 40px; height: 36px; }
.foot .ico2{ background: url('images/icon-map.png') no-repeat; padding-left: 40px; min-height: 40px; }
.foot .ico3, .foot .ico4, .foot .ico5, .foot .ico6{height:28px; display: inline-block; margin-left: 5px;}
.foot .ico3{ background: url('images/icon-instagram.png') no-repeat center; width:23px; }
.foot .ico4{ background: url('images/icon-facebook.png') no-repeat center; width:11px; }
.foot .ico5{ background: url('images/icon-youtube.png') no-repeat center; width:31px; }
.foot .ico6{ background: url('images/icon-linkedin.png') no-repeat center; width:22px; }

.ass{ background: var(--white); font-size: 14px;}

.box_nov_dest{ background-size: cover; background-position: center; background-repeat: no-repeat; }
.box_nov_dest .overlay{ width: 100%; height: 440px; display: block; position: relative; }
.box_nov_dest .overlay:hover{ background: rgba(0,0,0,0.7); }
.box_nov_dest .overlay img{ position: absolute; bottom: 50px; left: 50px; transition: bottom ease 0.5s; }
.box_nov_dest .overlay:hover img{ bottom: 80px; left: 50px; }
.destaques{ background-image: url("images/destaques-bg.jpg"); }
.novidades{ background-image: url("images/novidades-bg.jpg"); }

.menuoculto{ display: none; }
.menumobile {float: right; color: var(--verde);margin-top: 10px; display: none; }
.menumobile svg{ width: 40px; height: auto; }
.hometipos{ overflow: hidden; display: table; text-align: center;  }
.hometipos li{ width: 48%; padding: 20px; display: inline-block; }
#blog{ background:#E3E8C8 url('images/bg-blog-fundo.jpg') no-repeat center; background-size: cover; padding: 70px 0;}
#blog h2{ padding-bottom: 30px; }
.blog-card{ height: 400px; background-size: cover; background-repeat: no-repeat; cursor: pointer; }
.blog-card h1{ font-family: 'Lato'; }
.blog-card-overlay{ background: rgba(255,255,255,.8); width: 100%; height: 100%;}

#faq{ background:#E3E8C8 url('images/bg-blog-fundo.jpg') repeat center; padding: 50px 0; }
#faq h1, #blog h1, #contato h1, .title{ font-family: 'Lato'; margin-bottom: 30px; padding: 10px 0 17px; width: auto; display: table; margin: 0 auto;
    border-top:4px solid var(--verde3); border-bottom:4px solid var(--verde3);  }
#faq .resposta{transition: width 2s, height 2s, transform 2s;}

.bg-folhas{ background:#E3E8C8 url('images/bg-blog-fundo.jpg') repeat top center; }
#contato{ background:#E3E8C8 url('images/bg-blog-fundo.jpg') repeat center; }
#contato .ico1, #contato .ico2{ display: block; font-family: 'Lato'; font-size: 1.2rem; font-weight: 700; color: var(--marron1);  }
#contato .ico1{ background: url('images/icon-tel2.png') no-repeat; padding-left: 55px; height: 43px; }
#contato .ico2{ background: url('images/icon-map2.png') no-repeat; padding-left: 55px; min-height: 52px; }
#contato .ico3, #contato .ico4, #contato .ico5, #contato .ico6{height:35px; display: inline-block; margin-left: 10px;}
#contato .ico3{ background: url('images/icon-instagram2.png') no-repeat center; width:35px; }
#contato .ico4{ background: url('images/icon-facebook2.png') no-repeat center; width:16px; }
#contato .ico5{ background: url('images/icon-youtube2.png') no-repeat center; width:46px; }
#contato .ico6{ background: url('images/icon-linkedin2.png') no-repeat center; width:28px; }
.tblojas{ width:100%; }

.text-lato{ font-family: 'Lato'; }
.text-roboto{ font-family: 'Lato'; }

.bg-quemsomos{ background:#93A396 url('images/bg-quem-somos.jpg') repeat; background-size: cover; padding: 50px 10px; }
.bg-quemsomos2{ background:#93A396 url('images/bg-quem-somos2.jpg') repeat; background-size: cover; padding: 50px 10px; }
.bg-quemsomos3{ background:#FFF url('images/bg-quem-somos3.jpg') no-repeat top; }
.bg-prod1{ background:#FFF url('images/fundo1.png'); padding: 0px 25px 30px 25px; text-align: center; }
.bg-prod2{ background:#FFF url('images/fundo2.png'); padding: 0px 25px 30px 25px; text-align: center; }
.bg-prod3{ background:#FFF url('images/fundo3.png'); padding: 0px 25px 30px 25px; text-align: center; }
.bg-prod4{ background:#FFF url('images/fundo4.png'); padding: 0px 25px 30px 25px; text-align: center; }
.videoWrapper { overflow: hidden; position: relative; width:100%; }
.videoWrapper::after { padding-top: 56.25%; display: block; content: ''; }
.videoWrapper iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

#lojaonline{ background:#E6EACA; }
.inspirese{ background: #EADEC0; }
.kits{ background:#60514F url('images/bg-inspirados.jpg') repeat-x bottom; }
.bg-prod{ background:var(--verde) url('images/bg-produto.jpg') repeat-x bottom; }
.boximg{ height: 370px; text-align: center; }
.boxinfo{ height: 270px; }

#menuprodutos{ padding: 30px; position: absolute; background:var(--verde); width: 100%; z-index: 99999; border-bottom: 10px solid var(--marron1); }
#menuprodutos .close{ position: absolute; right: 25px; top: 25px; color:#fff; font-weight: 900; width: 20px; height:20px; z-index: 99998; }
@media (max-width: 1350px) {
.box_nov_dest .overlay{ width: 100%; height: 350px; }
.box_nov_dest .overlay img{ bottom: 50px; left: 20px;}
.box_nov_dest .overlay:hover img{ bottom: 80px; left: 20px; }
.novidades img{ width: 200px; }
.destaques img{ width: 210px; }
}
@media (max-width: 800px) {
    #menuprodutos .close{ position: absolute; right: 15px; top: 15px; }
    .boximg{ height: 200px; text-align: center; }
    .boxinfo{ height: auto; }
    .bg-prod{ background:var(--verde); }
    .tblojas{ width:600px; }
    #blog{ padding: 30px 0; }
    #faq{ padding: 50px 20px;}
    .hometipos li{ width: 44%; }
    .menumobile{ display: block; }
    .top{ padding: 10px 10px 3px;}
    .top .logo{ width: 50px; display: inline-block; }
    .top nav ul{ width: 100%; float: initial; background: var(--marron1); padding: 20px; position: absolute; left: 0; z-index: 99999; }
    .top nav ul li{ float: initial; width: 100%; margin:0; text-align: left; }
    .top nav ul li a{ font-size: 14px; display: inline-block; }
    .foot{ background: var(--verde2); padding: 20px 20px; }
    .foot .logo{ display: none; }
    .foot nav a, .foot .ico1, .foot .ico2{ font-size: 1rem; }
    .menuoculto{ display: block; }
    .siganos, .suptop nav{ display: none; }
    #blog .blog-card{ height: 400px; }
    .bg-quemsomos, .bg-quemsomos2{ padding: 50px 10px; }
    #blog .blog-card{ width: 90%; margin: 0 auto; height: 300px; }
    .box_nov_dest .overlay{ width: 100%; height: 200px; }
    .box_nov_dest .overlay img{ bottom: 20px; left: 20px;}
    .box_nov_dest .overlay:hover img{ bottom: 40px; left: 20px; }
    .novidades img{ width: 150px; }
    .destaques img{ width: 160px; }
}
